################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CommonLibrary/.vs/CommonLibrary
/CommonLibrary/bin/Debug/net6.0
/CommonLibrary/obj
/CommonLibrary/bin/Release/net6.0
/CommonLibrary/.vs/ProjectEvaluation
